body {
    background-color: aqua;
    margin: 0
}

h1 {
    color: crimson;
    font-size: 32px;
    text-align: center
}

h3 {
    border-style: groove;
    border-width: 12px;
}

#profile {
    background-color: aquamarine;
}

.pagetop {
    text-align: right
}

.copyright {
    border-top: solid 3px #000;
    text-align: center
}
